<div class="d-flex align-items-center">
  <div class="mx-auto my-auto">

    <div>
      <app-post *ngFor="let post of (posts$ | async)"
        author="{{post.author}}"
        title="{{post.title}}"
        text="{{post.text}}"
        date="{{post.date | date: 'dd/MM/yy, HH:mm'}}"
      >
      </app-post>
    </div>

    <div *ngIf="loading$ | async" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="error$ | async" class="col-lg-12" style="text-align: center;">
      <div class="alert alert-danger alert-dismissible fade show">
        <span>Fail to load, please try again.</span>
      </div>
      <button class="btn btn-primary" type="button" (click)="close()">Try again</button>
    </div>

  </div>

</div>
