<div class="d-flex align-items-center">
  <div class="mx-auto my-auto">
    <p class="h5 text-center mb-3">New Post</p>
      <form>
        <div class="mb-3">
          <label class="form-label">Author</label>
          <input class="form-control" type="text">
         </div>

        <div class="mb-3">
          <label class="form-label">Title</label>
          <input class="form-control" type="text">
        </div>

        <div class="mb-3">
          <label class="form-label">Text</label>
          <textarea class="form-control" type="text" rows="8"></textarea>
        </div>

        <div class="col-lg-12" style="text-align: center;">
          <button class="btn btn-primary" type="submit">Publish</button>
        </div>
      </form>
  </div>
</div>
